<!-- TODO: Add a query in the contorller that finds me as the User in this
section. Calls the urls from the @user attribute -->

<% provide(:title, "Home") %>
<% provide(:avatar_url, @user.avatar) %>
<% provide(:auname, @user.name) %>
<% provide(:auinfo, @user.info) %>

<div id="hero-bg" class="container-fluid">
  <div class='row py-2'>
    <% flash.each do |message_type, message| %>
      <div class="col-12 alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row justify-content-center header-text">
    <div class="col-12 col-md-6 text-center">
      <h1 class="header-h1">Jacob Daddario</h1>
    </div>
    <div class='w-100'></div>
    <div id="typed-container">
      <span id="typed-header"></span>
    </div>
    <div class='w-100'></div>
    <%= link_to '#home-body', class: 'm-4' do %>
      <div id='scroll-btn' class="btn btn-outline-light">
        About this Site
      </div>
    <% end %>
    <%= link_to contact_path, class: 'm-4' do %>
      <div class="btn btn-outline-light">
        Contact Info
      </div>
    <% end %>
  </div>
</div>
<div  id='home-body' class='container py-4' style='min-height:100vh;'>
  <div class='row align-items-center' style='min-height: 100vh;'>
    <div class="d-none d-md-block col-md-3 p-4 border-right border-secondary">
      <%= render 'layouts/author_shim' %>
    </div>
    <div class='col-md-9'>
      <h1 id="welcome-message">Welcome!</h1>
      <p>
      Welcome to my website! My name is Jacob Daddario, and I built this site using
      the <a href='https://rubyonrails.org/''>Ruby on Rails</a> framework. I am
      currently studying Chemical Engineering at Texas A&M University, and I am a
      self-taught programmer, a skill that I used to design this site. </br> </br> On this site,
      you can find my <a href='/contact'>contact information</a>, a résumé, as well as
      a variety of <a href='/posts'>blog posts</a>. Some of these posts are
      about my projects, others are about learning experiences that I've had, and
      others fall under whatever other categories interest me. That list tends to
      expand quickly, so make sure to click around the <a href='/posts'>blog postings</a> tab and see what
      interests you. If you'd like to learn more about my work expereiences, you can
      find a link to my résumé below.
      </p>
      <%= link_to 'My Résumé', pdfjs.full_path(file: "/resume.pdf"), class: 'btn btn-dark' %>
    </div>
  </div>
</div>
