<% provide :title, "Log In" %>
<div class='form-container'>
  <h1 class='header-content'>Log In</h1>
  <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'text-dark' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'text-dark' %>

    <%= f.submit "Log In", class: 'btn btn-dark', style: 'height: 40px;' %>
  <% end %>
</div>
