<% provide :title, "Edit a Post" %>
<div class='form-container form-container--post'>
  <h1 class='header-content'>Edit a Post</h1>
  <%= form_for @post do |f| %>
    <%= render 'posts/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'text-dark' %>

    <%= f.label :content %>
    <%= f.text_area :content, class: 'text-dark' %>

    <%= f.label "Tags" %>
    <%= f.text_field :all_tags, value: @post.tags.map(&:name).join(', '), class: 'text-dark' %>

    <%= f.submit "Edit", class: 'btn btn-dark', style: 'height: 40px;' %>
  <% end %>
</div>
