
<div class='container py-2'>
  <%= will_paginate renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm pagination-dark' %>
  <% @posts.each do |post| %>
    <div id='post' class='row border-top border-muted'>
      <div class='col-12 col-md-9'>
        <%= link_to post, style: 'text-decoration: none' do %>
          <%= content_tag(:h1, post.title, style: 'font-size: 32px; text-decoration: underline') %>
          <%= content_tag(:p, strip_tags(markdown(post.content).truncate_words(25, separator: ' '))) %>
          <% post.tags.each do |tag| %>
            <%= content_tag :div, tag.name, class: 'btn btn-sm btn-secondary', id: 'tag' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='row py-2'>
      <div class='col-12 col-md-9'>
        <% if logged_in? %>
          <%= link_to "Delete", post, method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'btn btn-dark' %>
          <%= link_to "Edit", edit_post_path(post), class: 'btn btn-dark' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% will_paginate %>
</div>

