<% provide :title, "Write a Post" %>
<div class='form-container form-container--post'>
  <h1 class='header-text'>Write a Post</h1>
  <%= form_for @post do |f| %>
    <%= render 'posts/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'text-dark' %>

    <%= f.label :content %>
    <%= f.text_area :content, class: 'text-dark' %>

    <%= f.submit "Post", class: 'btn btn-dark', style: 'height: 40px;'%>
  <% end %>
</div>
