<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Used to adjust the viewport for the given site on load. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% unless current_page?(root_url) %>
      <% flash.each do |message_type, message| %>py-2
        <div class="my-2 alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <div class='container-fluid'>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <!--This tag is included after HTML is rendered because some of the script
        within rely on the HTML being rendered first. -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
